{% extends "layout.html" %}

{% block head %}

<script>

  
</script>

{% endblock %}

{% block main %}

<form style="margin-top: 100px; margin-bottom: 100px;" method="POST">
  <center>
    <h2 style="color: white;">Social Distance Detection</h1>
    <div>
      <div>
            <div class="card-title"></div>
            
            <a class="btn btn-light mt-2 mr-3 shadow-lg" , href="{{url_for('login')}}">Sign In</a>
            <a class="btn btn-dark mt-2 ml-3 shadow-lg" , href="{{url_for('register')}}">Register</a>
    </div>
  </center>
</form>

{% endblock %}